@import "../../../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  @include fade-in-slow;
}
.displayWrapper,
.pickupWrapper {
  border: 1px solid rgb(216, 225, 225);
  border-radius: 5px;
  padding: 10px;
}
.pickupWrapper {
  @include pulse;
}
.Co2Display {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 150px;
  p {
    font-size: 40px;
    font-weight: bold;
    color: $blue;
    margin: 0;
  }
}
.treeWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.tree {
  width: 25px;
  height: 25px;
  @include pullUp;
  @media (min-width: 450px) {
    width: 40px;
    height: 40px;
  }
}
.mapWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include fade-in-slow;
}
