@import "../../../../variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  @media (min-width: 450px) {
    flex-direction: row;
    gap: 15px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: 50%;
  @include fade-in-slow;
}
.displayWrapper,
.pickupWrapper {
  border: 1px solid rgb(216, 225, 225);
  border-radius: 5px;
  padding: 10px;
  &.active {
    border: 1px solid $blue;
    background-color: rgb(231, 242, 240);
  }
}

.select {
  padding: 16px;
  font-size: 14px;
  line-height: 1.3;
  height: 65px;
  box-sizing: border-box;
  margin-bottom: $sm;
  border: 1px solid $blue;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;

  background-color: transparent;
  width: 100%;
}

.pickupWrapper {
  @include pulse;
}
.Co2Display {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 150px;
  p {
    font-size: 40px;
    font-weight: bold;
    color: $blue;
    margin: 0;
  }
}
.treeWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.tree {
  width: 25px;
  height: 25px;
  @include expandUp;
  @media (min-width: 450px) {
    width: 40px;
    height: 40px;
  }
}
.mapWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include fade-in-slow;
}
